footer {
  position: relative;
  color: var(--color-footer);
  height: 54px;
  background: var(--bg-footer);

  .icon-footer {
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
