@import './mixin';

// responsive width
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


[class*="col-"] {
    width: 100%;    
}
  
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

.full {
  width: 100%;
}
// close responsive width

// position
.p-fixed { position: fixed }
.p-absolute { position: absolute }


// cursor
.c-pointer { cursor: pointer }


// button
.btn-warning { background-color: var(--bg-btn-warning) }
.btn-success { background-color: var(--bg-btn-success) }

// display
.d-flex { display: flex }
.d-flex-center-x { 
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-center-y { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-responsive {
  flex-wrap: wrap;
}

// margin
.ml-s { margin-left: 8px; } 
.ml-m { margin-left: 15px; } 


.text-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-center { text-align: center }
.text-right { text-align: right }
.text-white { color: var(--white) }
.text-heading { 
  letter-spacing: 1.5px;
  font-family: var(--font-heading) 
}
.text-subheading { 
  letter-spacing: 1.5px;
  font-family: var(--font-subheading) 
}


// color
.color-theme { color: var(--color-theme) }
.color-second { color: var(--gray-second) }
.color-gray-medium { color: var(--gray-medium) }
.color-warning { color: var(--color-warning) }

.clear-both { clear: both; }

.text-subheading { 
  font-weight: 300;
  font-size: var(--h1-size);
  font-family: var(--font-subheading) 
}

.shadow-theme {
    @include box-shadow(0px, 0px, 4px, #fff);
}