.subheading-box {
    font-size: 18px;
}

.card-box {
    padding: 53px 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: -40px;
    width: 250px;
    height: 350px;
    background-color: var(--white);
    border-radius: var(--border-trendy);
    z-index: var(--z-index);
    box-shadow: var(--box-shadow-theme);

    .heading__card-box {
        font-weight: 700;
        font-size: 24px;
        line-height: 32.78px;
    }
    
    .subheading__card-box {
        font-weight: 400;
        @extend .subheading-box;
        line-height: 24.59px;
    }
}

.content-box {
    position: relative;
    font-family: 'Avenir';
    padding: 11px 11px 16px 11px;
    width: 350px;
    height: 350px;
    margin: calc(68px / 2) auto;
    background-color: var(--white);
    border-radius: var(--border-trendy);
    box-shadow: var(--box-shadow-theme);
    z-index: 10;

    .capacity__tour {
        font-weight: 800;
        padding: 11px 7px 12px 8px;
        position: absolute;
        top: calc(10px + 15px);
        right: 10px;
        border-radius: 5px 0px 0px 5px;
        background-color: var(--color-primary);
    }

    .content-cover-image {
        width: 328px;
        height: 241px;
        margin: 0 auto;
    }

    .heading__content-box {
        font-size: 24px;
        line-height: 33px;
    }

    .subheading__content-box {
        font-weight: 900;
        @extend .subheading-box;
    }

    .country__content-box {
        color: var(--gray-second);
        @extend .subheading-box;
    }
}

.payment {
    .hero {
        height: var(--hero-height-alternate);
    }

}
.main {
    width: 1035px;
    margin: 0 auto;
    

    .content__payment {
        border: 1px solid var(--gray-fourth);
        border-radius: var(--border-trendy);
        background-color: white;
        

        .detail-heading__payment {
            padding: 10px 58px 0;
            

            .left-side__heading_payment {
                width: 70%;
                

                b {
                    line-height: 24px;
                }
            }

            .right-side__heading_payment {
                text-align: right;

                img { border: 3px solid black }
            }
        }

        .detail-body__payment {
            table {
                text-align: center;
                width: 100%;
                
                th, td {
                    padding: 20px;
                    
                }

                td {
                    border-top: 1px solid var(--gray-fifth);
                }
                
                td:not(.table-bold) {
                    color: var(--gray-third);
                }
            }
        }
    }
}