$height: calc(100vh - 20vh);

.wrapper-chat {
    height: $height;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .sidebar {
        padding: 20px 10px;
        height: $height;
        overflow-y: auto;
        border-radius: 24px 24px 0 0;

        .title__sidebar {
            font-weight: bold;
            font-size: 25px;
            color: var(--color-theme);
            margin-bottom: 20px;
        }
    }

    .content-message {
        position: relative;
        width: 60%;
        height: 60vh;
        padding: 20px;
        overflow-y: auto;
        background-color: var(--color-primary);
        border-radius: var(--border-smooth);
        box-shadow: var(--box-shadow-chat-theme);
    }
}