.home-page {
    .hero {
        padding: 20px 104px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 547px;
        background: url('../../assets/img/hero.jpg') no-repeat center;
        background-size: cover;
    }

    .main {
        width: 100%;
        background-color: lavenderblush;
    }
}

