.home-page {
    .main {
        position: relative;
        width: 100%;
        background-color: lavenderblush;

        .hibicus-icon {
            top: -60px;
            right: 0;
        }
    }
}


