$left-side: 160px;

.dashboard {
    display: flex;
    min-height: 79vh;
    
    .right-section__dashboard {
        .main {
            padding: 20px;
        }
    }
}

.external-app__dashboard {
    display: flex;
    flex-wrap: wrap;
    li {
        position: relative;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 40px rgba(0, 0, 0, .19);
        margin-right: 20px;
        border-radius: var(--border-trendy);
        cursor: pointer;
        transition: .3s ease-in;

        &:hover {
            box-shadow: 0 0 15px rgba(0, 0, 0, .15);
            transition: .3s ease-out;
        }

        > * {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}