$left-side: 160px;

.dashboard {
    display: flex;
    min-height: 79vh;

    .left-section__dashboard {
        width: $left-side;
        height: 100%;
        position: fixed;
        top: 0;
        padding-top: 100px;
        color: rgb(225, 225, 225);
        background-color: darkslategray;

        li {
            padding: 10px 12px;
            cursor: pointer;
        }
    }
    
    .right-section__dashboard {
        margin-left: $left-side;

        .main {
            padding: 20px;
        }
    }
}
