.wrapper-contact {
  .contact {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 12px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-radius: var(--border-smooth);
    box-shadow: 0 5px 10px #d2d4d8;
    transition: 0.3s ease-in;
    cursor: pointer;

    &.clicked {
      background-color: var(--color-theme);
      transition: 0.3s ease-out;

      .contact-name {
        color: var(--color-primary);
      }
      .text-contact-chat {
        color: var(--color-primary);
        opacity: 0.6;
      }
    }
  }

  .contact-name {
    color: rgb(77, 77, 77);
    font-weight: bold;
    line-height: 28px;
  }

  .text-contact-chat {
    color: rgb(148, 148, 148);
  }
}
