#chat-messages {
  min-height: 80%;
  .chat-from-me {
    position: relative;
    color: var(--color-primary);
    background-color: var(--color-theme);
    &:before {
      content: "";
      position: absolute;
      background-color: var(--color-theme);
      width: 15px;
      height: 15px;
      bottom: 0;
      right: -4px;
      border-top-right-radius: 25px;
    }
  }

  .chat-from-other {
    position: relative;
    color: rgb(77, 77, 77);
    background-color: var(--color-theme-two);

    &:before {
      content: "";
      position: absolute;
      background-color: var(--color-theme-two);
      width: 15px;
      height: 15px;
      bottom: 0;
      left: -4px;
      border-top-left-radius: 25px;
    }
  }

  .block-chat {
    padding: 10px 12px;
    margin: 10px 0;
    border-radius: var(--border-smooth);
  }
}

.wrapper-input-message {
  position: sticky;
  bottom: 0;
  margin-top: 20px;

  .input-message {
    color: rgb(77, 77, 77);
    padding: 10px 18px;
    width: 100%;
    box-shadow: 0 0 40px #c3c5c9;
  }
}
