* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face { font-family: 'Product Sans Bold'; src: url('./assets/font/Product\ Sans\ Bold.ttf') }
@font-face { font-family: 'Product Sans Thin'; src: url('./assets/font/Product\ Sans\ Thin.ttf') }
@font-face { font-family: 'Product Sans'; src: url('./assets/font/Product\ Sans\ Regular.ttf') }
@font-face { font-family: 'Avenir'; src: url('./assets/font/Avenir-Roman.otf') }

/* shortcut */

/* tutup */


body {
  font-family: 'Avenir', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:focus { outline: none }

input {
  font-size: 18px;
  border-radius: var(--border-trendy);
}

input, button { 
  border: none;
  font-family: 'Product Sans Bold' 
}

label { font-size: 18px }

button { cursor: pointer }

h1 { font-size: var(--h1-size) }
h2 { font-size: var(--h2-size) }

