:root {
  --white: #fff;
  --white-low: #E5E5E5;
  --orange: #FFAF00;
  --gray: #C4C4C4;

  /* section for theme */
  --bg-default: var(--white-low);
  --bg-theme: var(--orange);
  --bg-footer: var(--orange);

  /* section for input */
  --bg-input: var(--gray);

  /* section for button */
  --bg-btn-theme: var(--orange);

  --card-theme: var(--white);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
