header {
    width: 100%;
    padding: 0 104px;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: calc(var(--z-index) + 9);

    .section-button__header {
        cursor: pointer;
        button {
            &.btn-login {
                background-color: transparent;
                border: 1px solid var(--color-primary);
            }

            padding: 6px 33px;
            color: var(--color-primary);
            border-radius: var(--border-trendy);
        }

        .profile {
            display: flex;
            align-items: center;
            position: relative;

            .profile-image {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: var(--border-circle);
                border: 2px solid var(--color-theme);
                
                &.active + .dropdown { display: block }
            }

            .dropdown {
                display: none;
                width: 220px;
                background-color: var(--color-primary);
                border-radius: var(--border-trendy);
                position: absolute;
                top: 140%;
                left: 50%;
                transform: translateX(-69.5%);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 20px rgba(0, 0, 0, 0.25);
                

                &::before {
                    position: absolute;
                    top: -10px;
                    right: 30px;
                    content: '';
                    width: 20px;
                    height: 20px;
                    background-color: var(--color-primary);
                    transform: rotate(45deg);
                    z-index: -1;
                }
                
                li { 
                    padding: 13px;
                    display: flex;
                    align-items: center;
                    list-style: none;
                    cursor: pointer;
                    font-weight: 700;
                    font-family: 'Product Sans Bold';
                    letter-spacing: 0.5px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        background-color: rgba($color: #FFAF00, $alpha: .2);
                    }
                    
                    img { margin-right: 17px }
                    p { margin-right: 12px }
                }
            }
        }

    }
}

.qrcode__tools {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 10px 18px;

    .content-qrcode__tools {
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        padding: 20px;
    }
}

.sticky-notes__tools {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 10px 18px;
    z-index: 2;

    .text-notes__tools {
        color: white;
        width: 500px;
        max-width: 90%;

        input { color: rgba(0, 0, 0, 0.25) }

        
        .box {
            color: black;
            padding: 10px 20px;
            background-color: white;
            border-radius: var(--border-trendy);
        }

        .data-text-notes__tools {
            height: 200px;
            overflow-y: auto;

            .box {
                animation: boxAnima 1s linear 1;
            }
        }
    }
}

@keyframes boxAnima {
    50% {
        background-color: aquamarine;
    }
}